<div id="slider">
  <%= link_to(image_tag('earn_money.png'), {controller: '/home', action: :index}, id: 'earn_money') %>
  <%= link_to(image_tag('envia_con_nosotros.png'), {controller: '/home', action: :index}, id: 'send_with_us') %>
</div>


