@font-face {
    font-family: 'Rubik';
    font-weight: normal;
    font-style: normal;
}
#header{
  background-color:black;
  height:100px;
}

body{
  margin:0px;

 font-family: 'Rubik';
 font-style: normal;
  font-weight: lighter;
  *{
    font-family: 'Rubik', sans-serif;
  }
}
#slider{
 background-image:url("slider.png");
 margin-top:-100px;
 margin-left:0px;
 margin-right:0px;
 height:700px;
 width:100%;
 background-repeat: no-repeat;
 background-position:center;
 background-position:top;
 background-size:100%;

}
#register{
  background-color:#df1c45;
  height:32px;
  float:right;
  margin-right:20px;
  margin-top:22px;
  padding-top:13px;
  padding-left:15px;
  color:white;
  text-decoration:none;
  width:90px;
  border-radius:15px;
  font-family: 'Rubik', sans-serif;
}
#slider_title{
  color: white;
  font-family: 'Rubik', sans-serif;
  text-align: center;

  font-size: 30px;
  padding-top: 250px;

}
#home_two_center_buttons{

  margin-top: 40px;
  width: 350px;
 display: inline-block;
 margin-left: 35%;
}
#earn_money_picture_title{
  float: left;
  color: white;
  font-family: 'Rubik', sans-serif;
  text-decoration: none;
}
#earn_money_picture_title a, #ship_item_picture_title a{
text-decoration: none;
color: white;
  font-family: 'Rubik', sans-serif;
}
#ship_item_picture_title{
  float: right;
  height: 153px;
  padding-top: 30px;
   color: white;
  font-family: 'Rubik', sans-serif;
  text-align: right;
}
#post_slider{
background-image:url("earn_money_slider.png");
 height:280px;
 width:100%;
 background-repeat: no-repeat;
 background-position:center;
 background-position:top;
 background-size:100%;
}
#display_slider{
background-image:url("send_form_slider.png");
 height:280px;
 width:100%;
 background-repeat: no-repeat;
 background-position:center;
 background-position:top;
 background-size:100%;
}
#first_block_form{
  background-color:black;
  height:450px;
  display: block;
}
#post-filter-container{
  height: auto;
  background-color: red;
}
#black-filter-wrapper{
  background-color: black;
  float: left;
  width: 20%;
  height: 600px;
}
#white-wrapper{
  width: 80%;
  height: auto;
  float: right;
  background-color: white;

  }
#pictures{
  float:left;
  background-color: none;
  width: 49%;
  text-align: center;
}
#user-picture-posts{
  margin-left: 50px;
  margin-top: 20px;
  float: left;
  margin-bottom: 0px;
}
#post-container{
  width: 100%;
 border-bottom: 1px solid #157579;
 height: 150px;
}
#user-name-post{
  margin-bottom: 0px;
  margin-top: 0px;
}
#rewards_wrapper{
  width: 49%;
}
#separating_line{

  background-color: white;
  margin-left: 13px;
  height:280px;
  width: 2px;
  margin-top: 10px;
}
#packet_type{
  background-color: none;
  height:170px;
  width: 49%;
  padding-top: 50px;

}

#packet_1, #packet_2, #packet_3, #packet_4{
  float: left;
 display: inline-block;
 vertical-align: bottom;
 text-align: center;
 padding-left: 20px;

}
#packet_1{
  padding-top: 58px;
}
#packet_2{
  padding-top: 57px;
}
#packet_4{
  padding-top: 57px;
}

#envelope, #car, #backpack, #pocket{
  margin-left: 6%;
}
#first_block_form form{
  height: 100px;
}
#post-destination{
  float: left;
  padding-right: 30px;
  padding-left: 5px;
  padding-top: 40px;
  font-weight: bold;
}
#post-origin{
  float: left;
  padding-right: 30px;
  padding-left: 40px;
  padding-top: 40px;
}
#deliver-to{
  padding-top: 40px;
  display: inline-block;
  padding-left: 40px;
}
#origin-destination-wrapper{
  width: 100%;
  display: block;
  height: 70px;
}
#post-packet-name{
  float: left;
  padding-left: 40px;
  display: block;
  height: 40px;
}
#post-packet-reward{
  float: left;
  padding-left: 40px;
}
#upload_picture{
  height: 95px;
  width: 95px;
  border-style: dashed;
  border-color: white;
  color: white;
  padding-left: 59px;
  padding-top: 59px;
  margin-left:10%;
  margin-top: 70px;
}
#origin_destination_bar{
  margin-left:25%;
  padding-top: 120px;
}
#origin{
  width:350px;
  height:50px;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  border: 0px;
}
.js-example-basic-single{
width:350px;
  height:50px !important;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  border: 0px;
}
#destination{
  width:350px;
  height:50px;
  margin-left: -3px;
  border: 0px;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
}
#submit_origin_destination{
width: 300px;
background-color: #df1c45;
border: none;
color: white;
width: 90%;
height: 50px;
}
#packet_name{
  width:90%;
  height:50px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border: 0px;
  margin-bottom: 1px;
  margin-top: 60px;
}
#packet_description{
  width:90%;
  height:50px;
  border: 0px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
#second_block_form{
  background-color:black;
  height:300px;
  text-align: center;
}
#how_much_to_pay{

}
#how_much_to_pay i #number{
  font-size: 32px;
  font-family: 'Rubik', sans-serif;
}
#number {
  text-decoration: none;
  height: 65px;
  width: 100px;
  color: white;
  border-radius: 100px;
  border-color: white;
  border: 2px solid;
  padding-top: 35px;
  font-size: 30px;
  float:left;
  margin-left: 45px;
}
#select_reward{
height: 110px;
text-align: center;
width: 100%;


}
#customized_reward{
margin-top: 30px;
width: 90%;
height: 50px;
border-radius: 8px;
}
